.login-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .form-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .send-btn {
    width: 224px;
    padding: 10px 24px 10px 24px;
    border-radius: 44px;
    border: 1px solid #ffcc32;
    background: #ffcc32;
    color: #090c0e;
    text-align: center;
    cursor: pointer;

    /* component/button/large */
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
  }
}