.success-icon {
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/images/success.png');
}

.notification-container {
  width: 427px;
  height: 42px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  padding: 8px 16px 10px 16px;
  gap: 6px;
  box-shadow: 0px 2px 6px 0px #0000001f;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  p {
    font-family: Noto Sans TC;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
